ServerName {{ fqdn }}

<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@localhost
    # ServerAlias www.{{ fqdn }}
    DocumentRoot /var/www/{{ fqdn }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>